* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.primary-box {
    background-image: linear-gradient(to bottom, #1D0C20, #641F70);
    border-radius: 10px;
    min-width: 50vw;
}

.title {
    color: #FECE23;
    margin: 20px 0px 5px 0px;
}

.description {
    text-align: center;
    color: #FFFFFF;
}

.description div {
    margin-top: 10px;
    line-height: 35px;
}

.center {
    display: flex;
    justify-content: center;
}